/*body {
    font-family:'helvetica-neue', 'helvetica', 'arial', 'sans-serif';
    font-weight: normal;
}
#entry, #intro, #results {
    margin: 0 5% 0 5%;
}
#intro, #results {
    margin-top: 5%;
    margin-left: 5%;
}
*/